# Preserve this publisher license byte-for-byte, including original CRLF and trailing tabs.
# Only this hash-verified third-party text is exempt from repository whitespace style.
StickDeathInfinity/Resources/StudioImages/2ac45344f3657a8dbac7360aeb53cfb0187cc24234979dcb0855b6e454c78973.txt -text -whitespace
